h1 {
  color: white;
  font-size: 40px
}

a {
  color: white;
}

body {
  background-color: black;
}

li {
  list-style: none;
  float: left;
  padding: 20px
}

.header-logo {
  margin-top: 310px
}

.header-list {
  margin-left: 556px
}
